{%- liquid
  if section.settings.show_collection_image
    if collection.featured_image
      assign img_src = collection.featured_image
      assign has_image = true
    endif
  else
    if section.settings.banner_image != blank
      assign img_src = section.settings.banner_image
      assign has_image = true
    endif
  endif

  if has_image
    assign banner_classes = 'banner banner--bg-image bg-' | append: section.settings.banner_image_position
  else
    assign banner_classes = 'banner banner--no-image'
  endif
-%}
<style>
  .banner-imag.fixed-heigh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 950px;
    opacity: 1;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('{{ img_src| img_url: '360x' }}')
  }
  .banner-imag.fixed-heigh.fondo {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  @media screen and (min-width:640px) {
    .banner-imag.fixed-heigh {
      background-image: url('{{ img_src| img_url: '720x' }}')
    }
  }
  @media screen and (min-width: 1024px) {
    .banner-imag.fixed-heigh {

      height: 600px;
      background-image: url('{{ img_src| img_url: '2048x' }}')
    }

  }
</style>
<div class=" {{ banner_classes }}{% unless settings.show_breadcrumbs %} banner--no-breadcrumbs{% endunless %}">
  {%- if has_image -%}
    <div
      class="banner-imag fixed-heigh fondo"
      data-sizes="auto"
      data-parent-fit="cover"></div>
    <noscript>
      <div class="banner-imag fixed-heigh fondo" style="background-image: url({{ img_src  }})"></div>
    </noscript>
  {%- endif -%}

  {%- if settings.show_breadcrumbs -%}
    {% render 'breadcrumbs' %}
  {%- endif -%}

  <div class="banner__text container">
    <h1>{{ collection.title }}</h1>
    {%- if collection.description != blank -%}
      <div class="rte reading-width align-center large-text">
        {{ collection.description }}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "Hero banner",
    "class": "banner-candidate",
    "settings": [
      {
        "type": "paragraph",
        "content": "The height of the hero banner can be adjusted in Theme Settings > Layout"
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "header",
        "content": "Select image"
      },
      {
        "type": "paragraph",
        "content": "Alternatively, select an image to show on ALL collection pages"
      }, {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Image"
      }, {
        "type": "select",
        "id": "banner_image_position",
        "label": "Image alignment",
        "info": "Used to keep the subject of your image in view",
        "options": [
          {
            "value": "tl",
            "label": "Top left"
          },
          {
            "value": "tc",
            "label": "Top center"
          },
          {
            "value": "tr",
            "label": "Top right"
          },
          {
            "value": "ml",
            "label": "Middle left"
          }, {
            "value": "mc",
            "label": "Middle center"
          }, {
            "value": "mr",
            "label": "Middle right"
          }, {
            "value": "bl",
            "label": "Bottom left"
          }, {
            "value": "bc",
            "label": "Bottom center"
          }, {
            "value": "br",
            "label": "Bottom right"
          }
        ],
        "default": "mc"
      }
    ]
  }
{% endschema %}